<!DOCTYPE html>
<html lang="en" ng-app="newApp">
 <head>
   <title>Spatlho App</title>
   <link href="..\content\css\styles.css" rel="stylesheet" type="text/css" />
   <script src="..\app\lib\angular.min.js"></script>
   <script src="..\app\app.js"></script>
  </head>
  <body>
<br>

<div class="content">
  <form name="myForm" novalidate>
    <div class="reg">
    <h3>Registration Page</h3>
    </div>
    <div ng-controller="registerController">

<br>
        <label>
           User name:
           <input type="text" name="username" ng-model="user.name" ng-required="true">
           <div ng-show="myForm.username.$touched && myForm.username.$invalid">
             <small style="color:red; display:block; text-align:left;">
               Enter a valid name</small>
           </div>
        </label>
<br><br>
        <label>
           Email:
           <input type="email" name="email" ng-model="user.email" required>
           <div ng-show="myForm.email.$touched && myForm.email.$invalid">
             <small style="color:red; display:block; text-align:left;">
               Enter a valid email</small>
           </div>
        </label>
<br><br>
        <label>
           Password:
           <input type="password" name="password" ng-model="user.password" required>
        </label>
<br><br><br>
<button type="submit" class="btn btn-primary" name="reg_user">Register</button>

      </form>

      <hr>
  <tt>user = {{user}}</tt><br/>
</div>
        </div>

  </body>
</html>
