<h1>Kota Menu</h1>
<div class="content">

<button ng-click="order = 'name'">Order by name</button>
<button ng-click="order = 'colr'">Order by colour</button>
<input type="text" ng-model="search" placeholder="Search for a kota"/>

<ul>
<li ng-repeat="kota in kotas  | orderBy: order | filter: search" ng-show="kota.available">
  <img ng-src="{{kota.thumb}}" style="margin: -12px 10px 0 0; float:left; width:50px;"/>
  <h3>{{kota.name}}- {{kota.rate | currency:'R'}}</h3>
  <div class= "remove"ng-click="removeKota(kota)">x</div>
  <span class="colr"style = "background:{{kota.colr}}" >{{kota.colr}}</span>
  </li>
</ul>
</div>
