<div class="content">
  <form name="registerForm" novalidate>
    <input type="text" placeholder="name" name="name" ng-model = "register.name" ng-required="true"/>
    
    <input type="text" placeholder="cellnumber" name="cell "ng-model = "register.cell" ng-required="true" />
    <input type="password" placeholder="password" name="password1" ng-model = "register.password1" ng-required="true"/>
    <input type="password" placeholder="password" name="password2" ng-model = "register.password2" ng-required="true"/>
    <<input type="submit"  value="Save"/>
    </form>
    </div>
