body{
  font-family: Helvetica;
  margin: 0;
}

h1,h2,h3{
  margin: 0;
  text-align: center;
}

.belt{
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 5px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

#menu-bar{
  background: blue;
  color: #fff;
  padding: 10px;
}

#menu-bar h1{
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
}

#menu-bar ul{
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 6px 0;
}

#menu-bar li{
  float: right;
  margin-left: 20px;
}

#menu-bar a{
  color: #fff
}

main{
  background: #eee;
  width: 80%;
  margin: 30px auto;
  border-radius: 10px;
}

.content{
  padding: 20px;
  background: white;
  width: 50%;
  margin: 0 auto 100px;
  border: true;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24)
}

.content button{
  width: 100%;
  padding: 10px;
  color: white;
  border-radius: 10px;
  background: blue;

}
.content input[type="submit"]{
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #777;
  border: 0;
  box-shadow: 2px 2px 2px rgba(20,20,20,0.1);
  font-size: 16px;
  width: 100%;

}

.content button:nth-child(2){
  float: right;
}

.content ul{
  padding: 0;
  list-style-type: none;
  margin: 30px 0;
}

.content li{
  padding: 15px 0;
  border-top: 1px solid #e2e2e2;
  color: #444;
}

.content li span{
  float: right;
}

.content li h3{
  display: inline-block;
  font-weight: normal;
  font-size: 22px;
}

.content input{
  width: 90%;
  padding: 10px 5%;
  border-radius: 10px;
  border: 2px solid #ddd;
  margin: 10px 0;
}

.content input[type="submit"]:last-child{
  width: 150px;
  display: block;
  margin: 15px auto;
}

.remove{
  float: right;
  padding: 5px;
  background: #fff;
  width: 18px;
  text-align: center;
  border-radius: 20px;
  color: crimson;
  cursor: pointer;
  margin-left: 10px;
}

.form {
  position: relative;
  z-index: 1;
  background: lightgray;
  max-width: 360px;
  padding: 50px;
  text-align: center;
}

.reg{
  background: blue;
  padding-top: 10px;
  padding-bottom: 10px;
}

input.ng-invalid.ng-touched{
  border: 2px solid red;
}
